@font-face {
    font-family: "Noto"; 
    src: url(/Static/fonts/Noto_Sans/NotoSans-Regular.ttf)format("truetype");
  }

  :root {
    --content: Noto;

  }

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    padding: 0 1rem;
    background-color: #323031;
    justify-content: space-between;
}

.header-img{
    height: auto;
    width: 80px;
}

.nav-items{
    height: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    transition: all 0.3s;
}

.nav-items:hover{
    color: #C1BDB3;
    
}

.header-nav__bar{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12rem 6rem;
    border-bottom: #dddddd solid 1px;
}

.about-main{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-main{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #7F7979;
}

.main-about{
    font-size: 5rem;
    color: #7F7979;
    display: flex;
    gap: 1rem;
    letter-spacing: 5px;
}
.prof-pic{
    height: auto;
    width: 470px;
}

.main-about__description{
    font-size: 2.6rem;
    color: #7F7979;
    line-height: 1.3;
}

.jet-color{
    color: #5F5B6B;
}

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-items: center;
    column-gap: 10rem;
    row-gap: 5rem;
    margin: 0rem 8rem;
    
}

.skills-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-direction: column;
    transition: all 0.3s;
}

.skills-box:hover{
    transform: scale(1.2);
}

.skill-img {
    height: auto;
    width: 150px;
}

.about-list{
    font-size: 20px;
    color: #7F7979;
    letter-spacing: 4px;
    margin-bottom: .5rem;
    list-style: none;
    font-family: Noto;
}

.skills-font{
    font-size: 20px;
    color: #7F7979;
    letter-spacing: 4px;
    font-weight: 600;
}

.myabout{
    padding: 6rem 4rem;
    box-shadow: inset 0px 0px 10px 1px rgb(0 0 0 / 10%);
    background: #f5f5f5;
}

.about-wrapper{
    margin: 0rem 8rem;
    display: flex;
    flex-direction: row;
}

.code-img{
    height: auto;
    width: 381px;
}

.abt-text{
    font-size: 2.6rem;
    color: #5F5B6B;
    display: flex;
    letter-spacing: 5px;
    justify-content: center;
    margin-bottom: 2rem;
}

.myskills{
    padding: 3rem 4rem;
}

.myskills-header{
    font-size: 2.6rem;
    color: #5F5B6B;
    display: flex;
    letter-spacing: 5px;
    justify-content: center;
    margin-bottom: 4rem;
}

.get-started {
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 8px;
    border: 2px solid #3D3B3C;
    background: none;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 1rem;
    gap: 5px;
}

.get-started:hover {
    background: #5F5B6B;
    color: #f5f5f5;
    border-color: #5F5B6B;
}

.arrow-rotate{
    transition: all 0.5s;
}

.get-started:hover .arrow-rotate{
    transform: rotate(90deg);
    stroke: #f5f5f5;
}

.about-img{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-info{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    justify-items: center;
    column-gap: 10rem;
    row-gap: 5rem;
    margin: 0rem 6rem;
}

.portfolio{
    padding: 6rem 4rem;
    box-shadow: inset 0px 0px 10px 1px rgb(0 0 0 / 10%);
    background: #f5f5f5;
}
.portfolio-box{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 4px grey;
    gap: 2rem;
    border-radius: 20px;
    background: #C1BDB3;
    padding: 1rem;
    height: 290px;
    width: 320px;
    flex-direction: column;
    transition: all 0.3s;
    cursor: pointer;
}

.portfolio-box:hover .img-overlay{
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}

.port-img{
    height: auto;
    width: 100%;
}

.img-overlay{
    visibility: hidden;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #0009;
    border-radius: 20px;
    transition: all 0.5s;
}

.visit-site{
    bottom: 40%;
    position: absolute;
    left: 26%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 20px;
    border: 2px solid #43B9C5;
    padding: 8px;
    background: #43B9C5;
    border-radius: 10px;
    transition: all 0.5s;
}

.visit-svg{
    stroke: #fff;
    transition: all 0.5s;
}

.visit-site:hover{
    border: 2px solid #3D3B3C;
    cursor: pointer;
    background-color: #fff;
    color: #5F5B6B;
}

.visit-site:hover .visit-svg{
    stroke: #000;
    
}

.port-font{
    font-size: 20px;
    color: #fff;
    letter-spacing: 4px;
    font-weight: 600;
}


/** Animations */


/* *Slide left for Name */
.slide-in-blurred-left {
	-webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
	        animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
}

@-webkit-keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  



  /* *Slide right for image */
  .slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
	        animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s both;
}
  @-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}


.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000)  both;
	        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000)  both;
}

@-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }